p{
    color: brown;
    font-size: 25px;
    background-color:aqua;
    
}
button{
    color: aquamarine;
    background-color: black;
    font-family: roboto;
    
}
img{
    height: 800px;
    width: 1700px;
    
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    
}