p{
    color: brown;
    font-size: 5vw;
    background-color:aqua;
    
}
button{
    color: aquamarine;
    background-color: black;
    font-family: roboto;
    
}
img{
    height: 50vw;
    width: 100vw;
    
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    
}
#new{
    background-color: rgb(228, 28, 28);

font-size: 5vw;
color: aliceblue;
}
#lol{
    text-align: center;
}
form{
    text-align: center;
}
input{
    padding: 10px;
}